Source: 8852bu
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: misc
Priority: optional
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               dh-sequence-dkms,
               lintian,

Package: 8852bu-dkms
Architecture: all
Section: misc
Priority: optional
Depends: bc,
         ${misc:Depends},
Description: dkms sources for Realtek RTL8852BU Wi-Fi driver
 This package provides the dkms source code for Realtek
 RTL8852BU Wi-Fi driver.
